.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
ion-card {
  width: 100%;
  max-width: 400px;
}
.error-msg {
  font-size: 12px;
  padding-left: 16px;
  margin-top: 5px;
}
