<ion-header
  ><ion-toolbar
    ><ion-buttons slot="start"
      ><ion-back-button defaultHref="/menu"></ion-back-button></ion-buttons
    ><ion-title>Sobre</ion-title></ion-toolbar
  ></ion-header
>
<ion-content class="ion-padding"
  ><ion-card
    ><ion-card-header
      ><ion-card-title
        >App de Controle de Chamados Tecnicos</ion-card-title
      ></ion-card-header
    ><ion-card-content
      ><p>Aluno: Alexandre</p>
      <p>Disciplina: Programacao Mobile</p>
      <p>
        Objetivo: controlar chamados tecnicos, tecnicos responsaveis e
        acompanhamento de atendimentos.
      </p>
      <p>
        Tecnologias utilizadas: Ionic, Angular, TypeScript, HTML e SCSS.
      </p></ion-card-content
    ></ion-card
  ></ion-content
>
