<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button></ion-buttons>
    <ion-title>Lista de Tecnicos</ion-title></ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <p class="vazio" *ngIf="chamadosService.listarTecnicos().length === 0">
    Nenhum tecnico cadastrado.
  </p>
  <ion-card *ngFor="let tecnico of chamadosService.listarTecnicos()">
    <ion-card-header>
      <ion-card-title>{{ tecnico.nome }}</ion-card-title></ion-card-header>
      <ion-card-content>
        <p>Especialidade: {{ tecnico.especialidade }}</p>
        <p>Contato: {{ tecnico.contato }}</p>
        <p>Situacao: {{ tecnico.situacao }}</p>
        <ion-button size="small" (click)="excluir(tecnico.id)">Excluir</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>

