<ion-header>
  <ion-toolbar><ion-title>Menu Principal</ion-title></ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" (click)="ir('/cadastro-chamado')"
      >Cadastrar Chamado</ion-button
    >
    <ion-button expand="block" (click)="ir('/lista-chamados')"
      >Lista de Chamados</ion-button
    >
    <ion-button expand="block" (click)="ir('/cadastro-tecnico')"
      >Cadastrar Tecnico</ion-button
    >
    <ion-button expand="block" (click)="ir('/lista-tecnicos')"
      >Lista de Tecnicos</ion-button
    >
    <ion-button expand="block" (click)="ir('/resumo')"
      >Resumo dos Chamados</ion-button
    >
    <ion-button expand="block" (click)="ir('/sobre')"
      >Sobre o Aplicativo</ion-button
    >
    <ion-button expand="block" (click)="sair()">Sair</ion-button>
  </div>
</ion-content>
