<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Chamado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-item>
      <ion-input
        label="Solicitante"
        labelPlacement="stacked"
        name="solicitante"
        [(ngModel)]="solicitante">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input
        label="Setor"
        labelPlacement="stacked"
        name="setor"
        [(ngModel)]="setor">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input
        label="Titulo"
        labelPlacement="stacked"
        name="titulo"
        [(ngModel)]="titulo">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-textarea
        label="Descricao"
        labelPlacement="stacked"
        name="descricao"
        [(ngModel)]="descricao">
      </ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-select
        label="Prioridade"
        labelPlacement="stacked"
        name="prioridade"
        [(ngModel)]="prioridade">
        <ion-select-option *ngFor="let item of prioridades" [value]="item">
          {{ item }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-input
        label="Data de abertura"
        labelPlacement="stacked"
        type="date"
        name="dataAbertura"
        [(ngModel)]="dataAbertura">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-select
        label="Tecnico responsavel"
        labelPlacement="stacked"
        name="tecnico"
        [(ngModel)]="tecnico">
        <ion-select-option *ngFor="let tecnicoItem of chamadosService.listarTecnicos()" [value]="tecnicoItem.nome">
          {{ tecnicoItem.nome }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-select
        label="Status"
        labelPlacement="stacked"
        name="status"
        [(ngModel)]="status">
        <ion-select-option *ngFor="let item of statusLista" [value]="item">
          {{ item }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-text color="danger" class="erro" *ngIf="mensagem">
      {{ mensagem }}
    </ion-text>
    
    <ion-button expand="block" class="ion-margin-top" (click)="salvar()">
      Salvar Chamado
    </ion-button>
  </div>
</ion-content>