<ion-header> 
 <ion-toolbar> 
   <ion-buttons slot="start"> 
     <ion-back-button defaultHref="/menu"></ion-back-button></ion-buttons> 
   <ion-title>Cadastrar Tecnico</ion-title></ion-toolbar> 
 </ion-header> 
>
<ion-content class="ion-padding"> 
 <div>
    <ion-item> 
     <ion-input> 
        label="Nome"
        labelPlacement="stacked"
        name="nome"
        [(ngModel)]="nome">
      </ion-input></ion-item> 
   <ion-item> 
     <ion-select> 
        label="Especialidade"
        labelPlacement="stacked"
        name="especialidade"
        [(ngModel)]="especialidade"
       <ion-select-option *ngFor="let item of especialidades" [value]="item"> 
         {{ item }}</ion-select-option>   
       </ion-select> 
     </ion-item> 
   <ion-item> 
     <ion-input> 
        label="Contato"
        labelPlacement="stacked"
        name="contato"
        [(ngModel)]="contato">
      </ion-input></ion-item> 
   <ion-item> 
     <ion-select> 
        label="Situacao "
        labelPlacement="stacked"
        name="situacao"
        [(ngModel)]="situacao"
       <ion-select-option *ngFor="let item of situacoes" [value]="item"> 
         {{ item }}</ion-select-option> 
       </ion-select> 
     </ion-item> 
   <ion-text class="erro" *ngIf="mensagem">{{ mensagem }}</ion-text> 
   <ion-button expand="block" (click)="salvar()">Salvar Tecnico</ion-button>
  </div></ion-content> 
